<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.bsk.mapper.UserAddrMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.li.bsk.entity.UserAddr">
		<id column="addr_id" property="addrId" />
		<result column="addr_phone" property="addrPhone" />
		<result column="addr_shipping" property="addrShipping" />
		<result column="addr_shippinginfo" property="addrShippinginfo" />
		<result column="addr_default" property="addrDefault" />
		<result column="addr_name" property="addrName" />
		<result column="user_id" property="userId" />
	</resultMap>

</mapper>
